version: "3.9"

services:
  backend:
    build: .
    restart: always
    expose:
      - "8080"
    environment:
      ASPNETCORE_URLS: "http://+:8080"

  nginx:
    image: nginx:latest
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d:ro
